
body {
	background-color: #fff;
	font-family: Arial;
	margin: 0;
}
img {
	border: 0;
}
.hr {
    width: 1020px;
    height: 1px;
    background: url(../images/separator.png) center repeat-x;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
}

/*------------------------------ HEADER ------------------------------*/
#header {
    background: url(../images/header_bg.png) repeat-x;
    height: 132px;
}
#subheader {
    background: url(../images/subheader_bg.png) repeat-x;
    width: 100%;
    height: 56px;
}
#header .sep {
    background: url(../images/header_sep.png) no-repeat center;
    height: 30px;
    width: 1px;
    padding-left: 7px;
    padding-right: 7px;
}
#header > div, #footer > div {
	width: 1040px;
	margin: 0 auto;
	padding: 0 20px;
}
/** Logo **/
#header .logo {
	float: left;
	margin-right: 20px;
    margin-top: 20px;
}
#header .logo a {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
	color: #000;
	display: block;
	height: 71px;
	width: 293px;
	padding-top: 50px;
	text-decoration: none;
	text-transform: uppercase;
}
/** Navigation **/
#navigation {
    display: inline-block;
    list-style: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    float: right;
}
#navigation ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
#navigation li {
    float: left;
    text-align: center;
}
#navigation li a {
    color: #818181;
    font-size: 15px;
    line-height: 30px;
    text-decoration: none;
}
#navigation li a:hover {
    color: #000;
}
#navigation li.active a {
    color: #32cd32;
}
/** Navigation Footer **/
.navigation_footer {
    display: inline-block;
    list-style: none;
    line-height: 0px;
    margin: 0;
    padding: 0;
    float: left;
}
.navigation_footer ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation_footer li {
    height: 18px;
}
.navigation_footer li a {
    color: #818181;
    font-size: 12px;
    line-height: 30px;
    text-decoration: none;
}
.navigation_footer li a:hover {
    color: #000;
}
.navigation_footer li.active a {
    color: #f99600;
}
/*------------------------------ CONTENTS ------------------------------*/
#contents {
	min-height: 510px;
	width: 1020px;
	margin: 0 auto;
}
h1 {
	color: #3e3e3e;
	font-size: 30px;
	font-weight: normal;
	margin: 0 0 0 0;
}
h2 {
	color: #2c2c2c;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 12px;
}
p {
	color: #585858;
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 30px;
}
p a {
	color: #585858;
}
#contents .features {
	width: 810px;
	margin: 0 auto;
}
/*------------------------------ FOOTER ------------------------------*/
#footer {
	background-color: #eee;
	border-top: 1px solid #d8d8d8;
	padding: 10px 0;
    height: 80px;
}
#footer p {
	font-size: 12px;
	line-height: 30px;
	padding-left: 10px;
}


.img_header {
    /* This centers the image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100px;
    max-width: 100px;

    /* This adds the border */
    padding: 2px;
    border:solid;
    border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
    border-width: 1px 1px 1px 1px;
    background-color:rgb(233,233,233);
}

